* {
    box-sizing: border-box;
    /* font */
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    margin: 0%;
    color: white;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*BARRA NAV*/

html {
    scroll-behavior: smooth;
}

ul {
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    display: inline-block;
    list-style-type: none;
}

li {
    float: left;
    width: 20%;
    display: inline-block;
    list-style-type: none;
}

li a img{
    width: 25%;
}

li a img{
    padding: 0;
}

li a {
    position: relative;
    display: block;
    padding: 1.75vh 2vh;
    color: #2196f3;
    background-color: #031321;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1vh;
    text-decoration: none;
    font-size: 1.25vw;
    overflow: hidden;
    transition: 0.2s;
}

li a:hover:not(.logo) {
    color: rgb(199, 198, 198);
    background: #051e33;
    box-shadow: 0 0 10px #051e33, 0 0 40px #051e33, 0 0 80px;
    transition delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/*FI BARRRA NAV*/

body {
    background-color: #031321;
}


/*    VIDEO   */

#TextoVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#videowrapper {
    position: relative;
    overflow: hidden;
}

#fullScreenDiv {
    min-height: 100%;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: relative;
}

#video1 {
    width: 100vw;
    height: auto;
    margin: auto;
    display: block;
}


/*    VIDEO   */

.header {
    background- background-size: cover;
    background-attachment: fixed;
    background-position: left;
    background: rgba(0, 0, 0, 0.0);
    padding: 5% 2%;
    color: white;
    text-align: center;
}

.one-column {
    width: 100%;
    float: left;
    padding: 2.5% 1%;
}

.two-column {
    width: 50%;
    float: left;
}

.two-column img {
    width: 75%;
}

.three-column {
    width: 33.33%;
    float: left;
}

.four-column {
    width: 25%;
    float: left;
}

#section-1 {
    text-align: right;
    padding-right: 4%;
    font-size: 2vw;
}

#one-column-section1 {
    float: right;
}