    * {
        box-sizing: border-box;
        /* font */
        font-family: Tahoma, Geneva, sans-serif;
    }
    
    body {
        margin: 0%;
        color: white;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    body {
        background-color: #031321;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    /*    VIDEO   */
    
    #TextoVideo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2vw;
    }
    
    #TextoVideo2 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2vw;
    }
    
    #videowrapper {
        position: relative;
        overflow: hidden;
    }
    
    #fullScreenDiv {
        min-height: 100%;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        background-color: transparent;
        position: relative;
    }
    
    #fullScreenDiv2 {
        min-height: 100%;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        background-color: transparent;
        position: relative;
    }
    
    #video1 {
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        z-index: -999;
    }
    
    #video2 {
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        z-index: -999;
    }
    
    @media screen and (max-width:1300px) {
        #video1 {
            display: none;
        }
        .poner-fondo {
            background-size: cover;
            background-attachment: fixed;
            background-position: left;
            background-image: url('../img/fondo1_Moment_Moment.jpg');
        }
    }
    
    @media screen and (max-width:1414px) {
        #TextoVideo2 {
            font-size: 3vw;
            height: 180px;
        }
        #fullScreenDiv2 {
            height: 20vh;
        }
        .borrar-seccion {
            display: none;
        }
    }
    /*    VIDEO   */
    
    .one-column {
        width: 100%;
        float: left;
        padding: 2.5% 1%;
    }
    
    .two-column {
        width: 50%;
        float: left;
        font-size: 3vh;
    }
    
    .two-column img {
        width: 75%;
    }
    
    #section-2 {
        background-size: cover;
        background-attachment: fixed;
        background-position: left;
        background-image: url('../img/header_patron.jpg');
        padding: 5% 2%;
        color: white;
        text-align: center;
    }
    
    #section-3 {
        background-size: cover;
        background-attachment: fixed;
        background-position: left;
        background: rgba(red, green, rgb(44, 2, 141), alpha) padding: 5% 2%;
        color: white;
        text-align: center;
    }
    
    @media screen and (max-width:700px) {
        .two-column {
            width: 100%;
        }
    }